$color-link: blueviolet;

.products {
  list-style: none;
  padding: 0;
  margin: 3em 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3em;
}

.productTitle {
  font-size: 1.4em;
  margin: .4em 0 0;
}

.productPrice {
  margin: .4em 0 0;
}