.header {

  width: 100%;
  background-color: blue;
  color: white;
  padding: .5em 0;

  p {
    margin: 0;
  }

}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-size: 2em;
}

.headerCart {

  button {

    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;

    svg {
      margin-right: .5em;
    }

  }

}